.skill-section {
  margin-bottom: 25px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.skill-section h3 {
  margin-bottom: 10px;
}

.skill-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.skill-section li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}
