.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url('bg-image.jpg'); /* Replace 'your-image-url.jpg' with the URL or path to your desired background image */
  background-size: cover;
  min-height: 100vh;
}

.logo {
  width: 150px; /* Adjust the width according to your logo's dimensions */
  height: 150px; /* Adjust the height according to your logo's dimensions */
  margin-bottom: 20px;
}

.App-header {
  margin-bottom: 20px;
}

.input-container input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input-container label {
  margin-bottom: 10px;
}

.input-container input {
  margin-bottom: 10px;
  margin-top: 10px;
}

.question-container {
  margin-bottom: 25px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.question-container h2 {
  margin-bottom: 10px;
}

.question-container p {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.5;
}

button {
  margin-top: 10px;
  margin-left: 5px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align:center;
}

button:hover {
  background-color: #0056b3;
}

.input-container label {
  margin-right: 5px;
  margin-bottom: 10px;
}

label[for="keywords"] {
  margin-left: 5px;
}

/*For Questions Container*/

.question-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.question-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.question-container p {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.question-container .question-list {
  margin-top: 20px;
}

.question-container .question-list li {
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.question-container .question-list li:last-child {
  border-bottom: none;
}

.question-container .question-list li .question {
  font-weight: bold;
}

.question-container .question-list li .category {
  color: #888888;
  font-style: italic;
}

.question-container .question-list li .description {
  margin-top: 5px;
  font-size: 14px;
}

