.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 80vh; /* Set the container to at least cover the viewport height */
  overflow-y: auto; /* Enable vertical scrolling for the content inside .App */
}

body {
  background-image: url('background.jpg');
  background-size: cover;
  background-attachment: fixed; /* Optional: Keep the background fixed while scrolling */
}

.App-header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  min-height:20vh;
}

.input-container input {
  margin: 9px;
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.question-container {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  top: 240px;
  left: 0; /* Move the container to the left edge */
  padding-left: 0; /* Remove padding from the left side */
  position: absolute;
}


.question-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.question-container p {
  line-height: 1.5;
}

.question-container .question-list {
  margin-top: 20px;
}

.question-container .question-list li {
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.question-container .question-list li:last-child {
  border-bottom: none;
}

.question-container .question-list li .question {
  font-weight: bold;
}

.question-container .question-list li .category {
  color: #888888;
  font-style: italic;
}

.question-container .question-list li .description {
  margin-top: 5px;
  font-size: 14px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: fixed; /* Keep the logo container fixed on the screen */
  top: 20px; /* Adjust the distance from the top as desired */
  left: 20px; /* Adjust the distance from the left as desired */
  z-index: 999; /* Set a high z-index to ensure it's displayed above other elements */
}

.logo-container img {
  width: 100px;
  height: auto;
}
label{
  font-weight: bold;
}
.interview_logo{
    position: absolute;
    font-size: 12px;
    padding: 4%;
    left: 39px;
}

li {
  position: relative;
}
.response h3 {
  font-size: 50px;
  font-color: black;
  font-weight: bold;
  color: black
}
.response ul {
  list-style-type: none;
  padding: 0;
}

.response li {
  margin-bottom: 10px;
  color: black;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo-container img {
  width: 200px; /* Adjust the size as desired */
}
.search_linkedin{
    position: relative;
    margin: 6px;
}